#header{
    background: white;
    height: 100px;
}
#menu{
    background: pink;
    height: 30px;
    margin: 0px;
    padding: 0px;
    overflow: hidden
}
#main_content{
    background: pink;
}
#footer{
    background: MediumSeaGreen;
    height: 150px;
}
 
#left_sidebar{
    float:left;
    width: 300px;
    height: 400px;
    background: DodgerBlue;
}
 
#right_sidebar{
    float:right;
    width: 300px;
    height: 400px;
    background: Violet;
}
 
#content{
    margin-left: 300px;
    margin-right: 300px;
    height: 300px;
    background: #fff
}
#list_post{
    border: solid 1px #ddd;
    width: 300px;
    margin: 0px auto;
}
.post{
    border: solid 1px #ddd;
    margin: 95px 100px;
    overflow: hidden;
}
.post .thumb{
    float:left;
    width: 95px;
    height: 95px;
}
.post .thumb img{
    max-width: 100%;
    display: inherit;
}
.post .infor{
    margin-left: 130px;
}
.post .infor h3{
    margin: 15px 0px 20px 0px;
}
.post .infor h3 a{
    font-size: 18px;
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
}
.menu a{
    display: inline-block;
    padding: 5px 10px;
    color:#fff;
    text-decoration: none;
}
.menu a:hover{
    color: #288cc4;
    background: #fff;
}
.menu li{
    float:left;
    list-style: none
}
